h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-bold);
  margin-bottom: 0.25em;
  margin-top: 1em;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--color-yellow-600);
}

.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: var(--color-yellow-300);
}

h1 {
  font-size: 2.5rem;
  line-height: 1.3em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  color: var(--color-gray-500);
  font-size: 1rem;
}

.dark h6 {
  color: var(--color-gray-300);
}

li {
  font-size: 1.1rem;
}

p,
ol,
table,
ul {
  font-size: 1.1rem;
  line-height: 1.8em;
  margin-bottom: 1.5rem;
}

ul > li ul {
  margin-bottom: 0;
  margin-left: 1.4em;
}

li > code,
p > code {
  background-color: var(--color-slate-200);
  border-radius: 4px;
  color: var(--color-yellow-800);
  font-family: var(--font-code);
  font-size: 0.9rem;
  overflow-wrap: break-word;
  padding: 0.1ch 0.5ch;
  white-space: pre-wrap;
}

.dark li > code,
.dark p > code {
  background-color: var(--color-yellow-300);
  color: var(--color-abyss-500);
}

pre.astro-code {
  border-radius: 4px;
  font-family: var(--font-code);
  font-size: 0.9rem;
  margin: 1.5rem auto;
  padding: 2rem;
}

a {
  color: var(--color-yellow-800);
  font-weight: var(--font-medium);
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  word-break: break-word;
}

.dark a {
  color: var(--color-yellow-300);
}

ol,
ul {
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: circle;
}

b,
strong {
  font-weight: var(--font-bold);
}

#tldr {
  background-color: var(--color-slate-200);
  border-radius: 4px;
  margin: 1.5rem auto;
  padding: 2rem;
  position: relative;
}

#tldr::before {
  color: var(--color-slate-400);
  content: "tldr";
  display: block;
  font-weight: var(--font-bold);
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.dark #tldr {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-gray-50);
}

table {
  /* background: rgba(0, 0, 0, .25); */
  background-color: var(--color-slate-200);
  border-radius: 4px;
  width: 100%;
}

.dark table {
  background-color: rgba(0, 0, 0, 0.5);
}

table tr th {
  text-align: left;
}

/* Aplica padding-top 1rem nas células da primeira linha */
tr:first-child td,
tr:first-child th {
  padding-top: 1rem;
}

/* Aplica padding-bottom 1rem nas células da última linha */
tr:last-child td,
tr:last-child th {
  padding-bottom: 1rem;
}

/* Aplica padding-left 1rem nas células da primeira coluna */
td:first-child,
th:first-child {
  padding-left: 1rem;
}

/* Aplica padding-right 1rem nas células da última coluna */
td:last-child,
th:last-child {
  padding-right: 1rem;
}