---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<Layout>
	<Welcome />

	<ul>
		{posts.map((post: any) => (
			<li><a href={`/${post.id}`}>{post.data.title}</a></li>
		))}
	</ul>
</Layout>
