---
import { Icon } from 'astro-icon/components';
---

<button
  aria-label="Alternar entre tema claro e escuro"
  class="button cursor-pointer flex items-center justify-center p-1 h-7 w-7"
  data-testid="theme-toggle"
  id="theme-toggle"
  title="Alternar entre tema claro e escuro"
  type="button"
>
  <Icon
    class="icon-sun"
    data-testid="icon-sun"
    name="sun-fill"
    title="Tema Claro"
  />
  <Icon
    class="icon-moon"
    data-testid="icon-moon"
    name="moon-fill"
    title="Tema Escuro"
  />
</button>

<script>
  import { getTheme, setTheme, switchTheme } from '../utils/theme';

  const theme = getTheme();
  setTheme(theme);

  document
    .getElementById('theme-toggle')
    ?.addEventListener('click', switchTheme);
</script>

<style>
  .icon-sun {
    display: none;
  }

  :global(html.dark) .icon-sun {
    display: inline-block;
  }

  :global(html.dark) .icon-moon {
    display: none;
  }
</style>
