---
import Base from '../layouts/Base.astro';

const { pageTitle = 'Astro Basics' } = Astro.props;
---

<Base pageTitle={`${pageTitle} | FX Dev`}>
	<div id="layout-default">
		<body>
			<slot />
		</body>
	</div>
</Base>