---
import DefaultHeadTags from '../components/DefaultHeadTags.astro';
import GtmIframe from '../components/GtmIframe.astro';
import Header from '../components/Header.astro';
import NavigationBar from '@components/NavigationBar.astro';

import '../styles/global.css';

const { pageTitle = 'Home' } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
  <head>
    <DefaultHeadTags
      pageTitle={`${pageTitle} | FX Dev`}
      pageUrl="https://www.fx.dev.br"
    />
  </head>
  <body
    class="bg-slate-100 dark:bg-abyss-500"
    data-testid="layout-default"
    id="layout-default"
  >
    <GtmIframe />
    <Header>
      <NavigationBar />
    </Header>
    <slot />
  </body>
</html>
